@import "../../assets/style/vars";

.hello{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        border-radius: 40px;
        &-title{
            @extend .header1;
            font-size: 40px;
            line-height: 45px;
            color: $blue;
            
            & span{
                color: $yellow;
            }
        }
    
        &-img{
            border-radius: 50px;
            width: 450px;
            height: 550px;
        }
    }
}